/*----------DEFAULT SETTINGS------------*/
body {
    margin: 0;
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: hsl(0, 0%, 0%);
}

/*-----------FOOTER SETTINGS---------------*/
.footer {
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    left: 0;
    bottom: 0;
    width: 1000px;
    height: 53px;
    background-color: #340537;
    color: #FF00E1;
    text-align: center;
    margin-left: 400px;
}

/*---------TOP BAR SETTINGS----------*/
#top-bar {
    background-color: hsl(295, 100%, 13%);
    height: 120px;
    width: 100%;
}

.top-bar-items1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    height: 105px;
    width: 100%;
}

/*------IMG--------*/
.top-bar-items1 img {
    width: 53px;
    height: 53px;
    margin-bottom: 5px;
    margin-left: 110px;
    ;
}

/*-------HOVER SETTINGS--------*/
.top-bar-items1 img:hover {
    transform: scale(1.3);
    transition: 0.9s ease-in-out;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.4);

}

.top-bar-items1 img:not(:hover) {
    transform: scale(1);
    transition: 1.2s;
}

/*---------MAIN SETTINGS--------*/
main {
    margin-left: 150px;
}

/*----------SIDE-BAR SETTINGS ------------*/
#side-bar {
    position: fixed;
    background-color: hsl(296, 86%, 28%);
    width: 240px;
    height: 100%;
    text-align: center;

}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: hsl(295, 100%, 13%);

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 240px;

    height: 200px;

    transition: 0.5s;
    background-color: black;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1 {

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.4);

}

.container .card:hover .slide.slide2 {

    transform: translateY(0);

}

.container .card .slide.slide2::after {

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-55%);

    background: #ffffff;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #ffffff;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #ffffff;

}

/*----------BEHIND THE WHOLE BODY SETTINGS----------*/
#main-info {
    background-color: black;
    height: 600px;
}

/*--------------THE WHOLE BODY SETTINGS------------*/
.main-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 250px;
    background: #780A7D;
    height: 350px;
    width: 1000px;

}


.white-box1 {
    background: white;
    color: black;
    margin-left: 300px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    border-color: black 4px solid;


}

.white-box1 h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.white-box2 {
    background: white;
    color: black;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 200px;

    border-color: black 4px solid;

}
.white-box3 {
    background: white;
    color: black;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 250px;
    column-count: 2;
    border-color: black 4px solid;
  

}
.white-box3 h2 {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
}
.white-box3 h3 {
    font-size: 10px;
    margin-top: 10px;
}