/*----------DEFAULT SETTINGS------------*/
body {
    margin: 0;
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: hsl(0, 0%, 0%);
}

/*-----------FOOTER SETTINGS---------------*/
.footer {
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    left: 0;
    bottom: 0;
    width: 1000px;
    height: 53px;
    background-color: #340537;
    color: #FF00E1;
    text-align: center;
    margin-left: 400px;
}

/*---------TOP BAR SETTINGS----------*/
#top-bar {
    background-color: hsl(295, 100%, 13%);
    height: 100px;
    width: 1500px;
    position: fixed;
    margin-left: 90px;
}

div,
section,
span,
ul,
li,
a {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

.top-bar-items1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    height: 105px;
    width: 60%;
}

/*------IMG--------*/
.top-bar-items1 img {
    width: 80px;
    height: 80px;
    margin-right: 60px;
    justify-content: space-between;
    padding: 20px 50px;
}

/**-------MENU SETTINGS--------*/
#menu {
    list-style: none;
    display: inline-flex;
    margin: 20px;
    gap: 90px;
    justify-content: space-between;
    padding: 20px 50px;
}

#menu li a {
    text-decoration: none;

    font-size: 25px;
}

section {
    width: 100%;
    float: center;
}

/*---------section settings---------*/
#ABOUT {}

#CONTACT {}

#GOALS {}

#PROJECTS {}


/*---------MAIN SETTINGS--------*/
main {
    margin-left: 150px;
}

/*----------SIDE-BAR SETTINGS ------------*/
#side-bar {
    position: fixed;
    background-color: hsl(296, 86%, 28%);
    width: 240px;
    height: 100%;
    text-align: center;

}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: hsl(295, 100%, 13%);

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 240px;

    height: 200px;

    transition: 0.5s;
    background-color: black;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1 {

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.4);

}

.container .card:hover .slide.slide2 {

    transform: translateY(0);

}

.container .card .slide.slide2::after {

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-55%);

    background: #ffffff;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #ffffff;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #ffffff;

}

/*----------BEHIND THE WHOLE BODY SETTINGS----------*/
#main-info {
    background-color: black;
    height: 600px;
}

/*--------------THE WHOLE BODY SETTINGS------------*/
.main-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 250px;
    background: #780A7D;
    height: 250px;
    width: 1000px;

}

.main-container2 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 250px;
    background: #780A7D;
    height: 250px;
    width: 1000px;

}

.main-container3 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 250px;
    background: #780A7D;
    height: 100px;
    width: 1000px;

}

.main-container4 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 250px;
    background: #780A7D;
    height: 350px;
    width: 1000px;

}
.main-container5 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 250px;
    background: #780A7D;
    height: 450px;
    width: 1000px;

}

.white-box1 {
    background: white;
    color: black;
    margin-left: 300px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 80px;
    margin-top: 150px;
    border-color: black 4px solid;


}

.white-box1 h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 3px;
}

.white-box2 {
    background: white;
    color: black;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 200px;

    border-color: black 4px solid;

}

.white-box2 h2 {
    font-size: 16px;

    margin-top: 3px;
}

.white-box3 {
    background: white;
    color: black;
    margin-left: 150px;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 350px;
    column-count: 2;
    border-color: black 4px solid;


}

.white-box3 h2 {
    font-size: 25px;
    margin-left: 60px;
    margin-top: 10px;
}

.white-box3 h3 {
    font-size: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

.white-box4 {
    background: white;
    color: black;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    margin-top: 120px;
    border-color: black 4px solid;

}

.white-box4 h2 {
    font-size: 10px;
    text-align: start;
    margin-top: 0px;
}

.white-box5 {
    background: white;
    color: black;
    margin-left: 200px;

    border-radius: 10px;
    width: 500px;
    height: 130px;
    column-count: 4;
    border-color: black 4px solid;


}


.white-box5 h3 {
    font-size: 10px;
    margin-top: 3px;
    margin: 1px;

}

.white-box5 h2 {
    font-size: 20px;

}

.white-box5 img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.white-box6 {
    background: white;
    color: black;
    margin-left: 150px;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 330px;
    column-count: 2;
    border-color: black 4px solid;


}

.white-box6 h2 {
    font-size: 25px;
    margin-left: 60px;
    margin-top: 10px;
}

.white-box6 h3 {
    font-size: 14px;


}

.white-box7 {
    background: white;
    color: black;
    margin-left: 300px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 80px;
    margin-top: 120px;
    border-color: black 4px solid;
margin-top: 160px;

}

.white-box7 h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 3px;
}

.white-box8 {
    background: white;
    color: black;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    border-color: black 4px solid;
    column-count: 2;
}

.white-box8 h2 {
    font-size: 10px;
    text-align: start;
    margin-top: 0px;
}

.white-box9 {
    background: white;
    color: black;
    margin-left: 300px;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    margin-top: 120px;
    border-color: black 4px solid;


}

.white-box9 h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 3px;
}
.white-box10 {
    background: white;
    color: black;
    margin-left: 150px;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 330px;
    column-count: 3;
    border-color: black 4px solid;
margin-top: 50px;

}

.white-box10 h2 {
    font-size: 25px;
    margin-left: 60px;
    margin-top: 10px;
}

.white-box10 h3 {
    font-size: 14px;


}
.white-box10 link {
    font-size: 14px; }